* {
    color: #fff;
}

.navbar {
    background-color: darkslateblue;
    height: 70px;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

a {
    text-decoration: none;
}

.addTodo {
    padding: 11px;
}

.addTodo:hover {
    color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand:hover {
    color: #fff;
}