.content {
    display: flex;
    flex-wrap: wrap;
    
}

.alert {
    margin-left: 50px;
    border: 1px solid;
    width: 45%;
    margin-right: 30px;
}

.delete {
    margin-left: 15px;
}

.details, .delete {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.delete:hover {
    color: red;
}