<div class="content">
    <div class="alert alert-success">
        <h1>Varrer</h1>
        <p>Varrer o quarto, a sala e a cozinha.</p>
    </div>
    <div class="alert alert-danger">
        <h1>Varrer</h1>
        <p>Varrer o quarto, a sala e a cozinha.</p>
    </div>
    <div class="alert alert-warning">
        <h1>Varrer</h1>
        <p>Varrer o quarto, a sala e a cozinha.</p>
    </div>
    <div class="alert alert-warning">
        <h1>Varrer</h1>
        <p>Varrer o quarto, a sala e a cozinha.</p>
    </div>
    <div class="alert alert-success">
        <h1>Varrer</h1>
        <p>Varrer o quarto, a sala e a cozinha.</p>
    </div>
    <div class="alert alert-danger">
        <h1>Varrer</h1>
        <hr>
        <p>Varrer o quarto, a sala e a cozinha.</p>
        <a href="#">Detalhes</a> 
        <a href="#">Excluir</a> 
    </div>
</div>